.navbar {
  background: linear-gradient(-45deg, #395c4e, #1b1215, #18353f, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 10px;
}

.nav-link {
  color: white;
}

.navbar {
  background: linear-gradient(-45deg, #395c4e, #1b1215, #18353f, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 10px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #23d5ab;
}

.headline {
  text-align: center;
  padding: 10px;
  background-color: rgb(209, 204, 204);
}

body {
  background: linear-gradient(-45deg, #395c4e, #1b1215, #18353f, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(209, 204, 204);
}
